.details {
  padding: 10px 20px 10px;

  .title {
    color: #0b4b60;
  }

  .release {
    color: #527480;
    font-size: 20px;
  }

  .comments {
    color: #833612;
    font-size: 18px;
    font-weight: bold;

    .comments__item {
      color: #604e42;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .overview {
    color: #b9d5de;
    font-size: 17px;
    font-weight: normal;
    font-style: italic;
  }

  .details__img {
    border-radius: 5px;
  }
}

li {
  list-style-type: none;
}
